.story{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .8);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    &__shape{
        width: 15rem;
        height: 15rem;
        float: left; //it works when we have defined dimensions
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%); //new 
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg); //better is use transform with above properties
        position: relative;
    }   

    &__img{
       height: 100%;
       transform: translate(-4rem) scale(1.4);
       backface-visibility: hidden; //fix weird shape on img
       transition: all .5s;
    }

    &__text{
        transform: skewX(12deg);
    }

    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden; //rid of shake from animation
    }

    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%, -50%);

    }

    &:hover &__img{
        transform: translate(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}